<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街：确认订单</title>
		<link rel="shortcut icon" href="img/shu.ico" />
		<link rel="stylesheet" href="../../../css/front/personal.css" />
		<link rel="stylesheet" href="../../../css/front/order_send.css" />
	</head>
	<body>
		<div class="top">
			<div class="logo">
				<div class="img"><a href="?"><img src="../../../img/taoshujie.png" /></a></div>
				<div class="txt">提交订单</div>
				<div class="right">
					<a href="?">首页</a> <span class="shu">|</span>
					<a href="?c=saleBook&a=showAllSale_book">出售</a> <span class="shu">|</span>
					<a href="?c=inquiry&a=showAllInquiry">求购</a>
				</div>
			</div>
		</div>
		
		<div class="order_send">
			<div class="os_msg">收货人信息</div>
			<div class="os_msg_content" style="display: none;">
				未设置收货人信息 
				<a href="?c=user&a=showPersonal&id=<?php echo $_SESSION['userid']; ?>" target="_blank" class="setMsg">立即设置</a>
			</div>
			<div class="os_msg_content">
				<dd id="name"><?php echo $addUser['user_realname']; ?></dd> ( <dd><?php echo $addUser['user_tel']; ?></dd> )<span style="margin-right: 15px;"></span>
				岭南师范学院 <dd><?php echo $addUser['user_addr']; ?></dd>
				<a href="?c=user&a=showPersonal&id=<?php echo $_SESSION['userid']; ?>" target="_blank" class="setMsg">修改收货人信息</a>
			</div>
			<?php
			if($addUser['user_addr'] == null || $addUser['user_tel'] == null){
				echo "<script type='text/javascript'>
						document.getElementsByClassName('os_msg_content')[0].style.display = 'block';
						document.getElementsByClassName('os_msg_content')[1].style.display = 'none';
					</script>";
			}
			?>
			
			<div class="os_msg">确认订单信息</div>
			<div class="os_content">
				<div class="os_top">
					<div class="top_list top1">书名</div>
					<div class="top_list">购买数量</div>
					<div class="top_list">原价</div>
					<div class="top_list">现价</div>
					<div class="top_list">小计</div>
					<div class="top_list">卖家</div>
				</div>
				<form action="?c=shoporder&a=addCheckShopOrder" method="post">
				<div class="os_detail">
					<ul>
						<?php foreach($addCheckOrder as $key => $value){ ?>
						<li>
							<input type="hidden" value="<?php echo $value['sale_id']; ?>" name="book_ids[]" />
							<input type="hidden" value="<?php echo $value['id']; ?>" name="shopcar_ids[]" />
							<div class="os_li1">
								<a href="?c=saleBook&a=each&id=<?php echo $value['sale_id']; ?> "><img src="<?php echo $value['sale_img']; ?>" title="<?php echo $addBook['sale_name']; ?>" /></a>
								<a href="?c=saleBook&a=each&id=<?php echo $value['sale_id']; ?> " class="os_name"><?php echo $value['sale_name']; ?></a>
							</div>
							<div class="os_li2">×<?php echo $value['book_num']; ?></div>
							<div class="os_li2">￥<?php echo $value['sale_beprice']; ?></div>
							<div class="os_li2">￥<?php echo $value['sale_afprice']; ?></div>
							<div class="os_li2">￥<?php echo $value['sale_afprice']*$value['book_num'];?></div>
							<div class="os_li2"><a href="?c=user&a=showSaleUser&id=<?php echo $value['user_id']; ?>"><?php echo $value['user_realname']; ?></a></div>
						</li>
						<?php } ?>
					</ul>
				</div>
				<input type="submit" value="提交订单" class="send" />
				<a href="?c=shopcar&a=showShopCar" class="return_car"> < 返回购物车</a>
				<!--<a href="?c=shoporder&a=addCheckShopOrder" class="send">提交订单</a>-->
				</form>
			</div>
		</div>
		
		<iframe src="../Application/front/Views/common_foot.html" width="100%" height="122" frameborder="0"></iframe>
		
	</body>
	<script type="text/javascript" src="../../../js/front/order_send.js" ></script>
</html>
