<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><?php echo $eachSaleBook['sale_name']; ?></title>
		<link rel="shortcut icon" href="img/shu.ico" />
		<link rel="stylesheet" href="css/front/sale_detail.css" />
		<link rel="stylesheet" href="css/front/common_top.css" />
	</head>
	<body>
		<?php
		session_start();
		?>
		<div class="q" id="q">
			<div class="top_content">
				<div class="welcome_txt">
					你好，欢迎来到淘书街！
				</div>
				<div class="right">
					请 <a href='?c=user&a=login' target="_blank">登录</a> 
					<a href='?c=user&a=reg' style='color: #00CFBE; padding-left: 4px;' target="_blank">免费注册</a>
					<span class='shu'>|</span>
					<a href='?c=shopcar&a=showShopCar' target="_blank">购物车</a> <span class='shu'>|</span>
					<a href='?c=saleBook&a=addSale' target="_blank">我要出售</a> <span class='shu'>|</span>
					<a href='?c=inquiry&a=addInquiry' target="_blank">我要求购</a> <span class='shu'>|</span>
					<a href='?p=back&c=admin&a=login' target="_blank">进入后台</a>
				</div>
			</div>
		</div>
		<div class="q" id="q1">
			<div class="top_content">
				<div class="welcome_txt">
					你好，欢迎来到淘书街！
				</div>
				<div class="right">
					<a href="?c=user&a=showPersonal&id=<?php echo $_SESSION['userid']; ?>"><?php echo $_SESSION['username']; ?></a> <span class='shu'>|</span>
					<a href='?c=shopcar&a=showShopCar'>购物车</a> <span class='shu'>|</span>
					<a href='?c=saleBook&a=addSale' target="_blank">我要出售</a> <span class='shu'>|</span>
					<a href='?c=inquiry&a=addInquiry' target="_blank">我要求购</a> <span class='shu'>|</span>
					<a href='?p=back&c=admin&a=login' target="_blank">进入后台</a>
				</div>
			</div>
		</div>
		<?php
		if(!isset($_SESSION['username']) || $_SESSION['username']==''){  
			echo "<script type='text/javascript'>
					document.getElementById('q').style.display = 'block';
					document.getElementById('q1').style.display = 'none';
				</script>";
        }
        else{
      	    echo "<script type='text/javascript'>
      	    		document.getElementById('q1').style.display = 'block';
      	    		document.getElementById('q').style.display = 'none';
      	    	</script>";
        }
		?>
		<div class="w">
			<!--头部-->
			<div class="top">
				<div class="logo">
					<a href="?"><img src="../../../img/taoshujie.png" /></a>
				</div>
				<form action="?c=saleBook&a=search" method="post" class="search" onsubmit="return checkSearch();">
					<div class="search_div">
						<input type="text" placeholder="出售书籍名称" name="keyword" class="search_a"/>
						<input type="submit" class="search_b" value="搜索"></input>
					</div>
				</form>
			</div>
		</div>
		<!--导航栏-->
		<div class="nav">
			<div class="nav_bar">
				<div class="all_type nav_active">
					全部图书分类
					<span class="all_type_a"></span>
				</div>
				<div class="nav_r">
					<ul>
						<a href="?"><li>首页</li></a>
						<a href="?c=type_second&a=showAllType_second"><li>分类</li></a>
						<a href="?c=saleBook&a=showAllSale_book"><li class="nav_active">出售</li></a>
						<a href="?c=inquiry&a=showAllInquiry"><li>求购</li></a>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="w">
			<div class="location">
				你现在的位置：
				<a href="?c=type_second&a=showAllType_second">全部图书分类</a>
				<span>></span>
				<?php echo $eachBookType['type_name']; ?>
				<span>></span>
				<a href="?c=saleBook&a=detail&id=<?php echo $eachSecType['second_id']; ?>"><?php echo $eachSecType['second_name']; ?></a>
			</div>
		</div>
		<div class="book_info">
			<div class="imgdiv">
				<!--<span></span>-->
				<img src="<?php echo $eachSaleBook['sale_img']; ?>" />
			</div>
			<!--基本信息-->
			<div class="info">
				<div class="title"><?php echo $eachSaleBook['sale_name']; ?></div>
				<div class="detail_info">
					<div class="info_left">
						<dd>ISBN：<span><?php echo $eachSaleBook['sale_isbn']; ?></span></dd>
						<dd>库存：<span><?php echo $eachSaleBook['sale_num']; ?></span></dd>
						<dd>作者：<span><?php echo $eachSaleBook['sale_author']; ?></span></dd>
						<dd>出版社：<span><?php echo $eachSaleBook['sale_publishing']; ?></span></dd>
					</div>
					<div class="info_right">
						<dd>页数：<span><?php echo $eachSaleBook['sale_page']; ?></span></dd>
						<dd>新旧程度：<span><?php echo $eachSaleBook['sale_degrees']; ?></span></dd>
						<dd>出售者：<span><?php echo $eachSaleBook['user_realname']; ?></span></dd>
					</div>
				</div>
			</div>
			<!--价钱-->
			<div class="info2">
				<div class="price">
					现价：<span>￥<?php echo $eachSaleBook['sale_afprice']; ?></span>
				</div>
				<div class="pre_price">
					原价：<span>￥<?php echo $eachSaleBook['sale_beprice']; ?></span>
				</div>
			</div>
			<!--加购收藏按钮-->
			<div class="operation" id="o">
				<a href="?c=shopcar&a=addShopCar&id=<?php echo $eachSaleBook['sale_id']; ?>"><div class="collect">加入购物车</div></a>
				<a href="?c=shoporder&a=showAddShopOrder&id=<?php echo $eachSaleBook['sale_id']; ?>"><div class="buy">购买</div></a>
			</div>
		</div>
		<!--详细内容-->
		<div class="content_info">
			<div class="content_title">
				<span>内容简介</span>
			</div>
			<div class="content">
				<?php echo $eachSaleBook['sale_content']; ?>
				<?php if( $eachSaleBook['sale_content'] == null ){echo "无内容";} ?>	
			</div>
		</div>
		
		<div class="content_info">
			<div class="content_title">
				<span>书籍留言</span>
			</div>
			<div class="content">
				<div class="bcomment">
					<form action="?c=bcomment&a=addComment" method="post" onsubmit="return checkComment();">
						<textarea cols="101" rows="7" name="content"></textarea>
						<!--<input type="hidden" value="<?php echo $_SESSION['userid']; ?>" name="user_id"/>-->
						<input type="hidden" value="<?php echo $eachSaleBook['sale_id']; ?>" name="book_id" />
						<input type="submit" value="发表留言" />
						<span>(限255字)</span>
					</form>
				</div>
				<div class="bc_detail">
					<ul>
						<?php foreach($bcomment as $key => $value){ ?>
						<li>
							<div class="bcUser">
								<a href="?c=user&a=showSaleUser&id=<?php echo $value['user_id']; ?>" target="_blank">
									<img src="<?php echo $value['user_img']; ?>" />
								</a>
								<div class="name_txt">
									<a href="?c=user&a=showSaleUser&id=<?php echo $value['user_id']; ?>" target="_blank">
										<?php 
											if($value['user_realname'] != null){
												echo $value['user_realname'];
											}
											else if($value['nickname'] != null){
												echo $value['nickname'];
											}
											else{
												echo $value['user_name'];
											}
										?>
										<!--<?php echo $value['user_realname']; ?>-->
									</a>
								</div>
							</div>
							<div class="bc_content">
								<?php echo $value['bcomment_content']; ?>
								<div class="bc_time"><?php echo $value['bcomment_time']; ?></div>
							</div>
						</li>
						<?php } ?>
						<?php if( empty($bcomment) ){echo "没有留言";} ?>	
					</ul>
				</div>
			</div>
		</div>
		<iframe src="../Application/front/Views/common_foot.html" width="100%" height="122" frameborder="0"></iframe>
	</body>
	<script type="text/javascript" src="js/front/common_top.js" ></script>
	<script>
		function checkComment(){
			var content = document.getElementsByName("content")[0].value;
			if( content.length == 0 ){
				alert("留言不能为空！");
				return false;
			}
			else if(content.length > 255){
				alert("留言内容不能超过255字！");
				return false;
			}
			return true;
		}
	</script>
</html>
