<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街-检索：<?php echo $keyword; ?></title>
		<link rel="stylesheet" href="css/front/common_top.css" />
		<link rel="stylesheet" href="css/front/search_no.css" />
		<link rel="stylesheet" href="css/front/search_yes.css" />
		<link rel="stylesheet" href="css/front/page.css" />
		<link rel="stylesheet" href="css/front/sale.css" />
	</head>
	<body>
		
		<div class="q" id="q">
			<div class="top_content">
				<div class="welcome_txt">
					你好，欢迎来到淘书街！
				</div>
				<div class="right">
					请 <a href='?c=user&a=login' target="_blank">登录</a> 
					<a href='?c=user&a=reg' style='color: #00CFBE; padding-left: 4px;' target="_blank">免费注册</a>
					<span class='shu'>|</span>
					<a href='?c=shopcar&a=showShopCar' target="_blank">购物车</a> <span class='shu'>|</span>
					<a href='?c=saleBook&a=addSale' target="_blank">我要出售</a> <span class='shu'>|</span>
					<a href='?c=inquiry&a=addInquiry' target="_blank">我要求购</a> <span class='shu'>|</span>
					<a href='?p=back&c=admin&a=login' target="_blank">进入后台</a>
				</div>
			</div>
		</div>
		<div class="q" id="q1">
			<div class="top_content">
				<div class="welcome_txt">
					你好，欢迎来到淘书街！
				</div>
				<div class="right">
					<a href="?c=user&a=showPersonal&id=<?php echo $_SESSION['userid']; ?>"><?php echo $_SESSION['username']; ?></a> <span class='shu'>|</span>
					<a href='?c=shopcar&a=showShopCar'>购物车</a> <span class='shu'>|</span>
					<a href='?c=saleBook&a=addSale' target="_blank">我要出售</a> <span class='shu'>|</span>
					<a href='?c=inquiry&a=addInquiry' target="_blank">我要求购</a> <span class='shu'>|</span>
					<a href='?p=back&c=admin&a=login' target="_blank">进入后台</a>
				</div>
			</div>
		</div>
		<?php
		if(!isset($_SESSION['username']) || $_SESSION['username']==''){  
			echo "<script type='text/javascript'>
					document.getElementById('q').style.display = 'block';
					document.getElementById('q1').style.display = 'none';
				</script>";
        }
        else{
      	    echo "<script type='text/javascript'>
      	    		document.getElementById('q1').style.display = 'block';
      	    		document.getElementById('q').style.display = 'none';
      	    	</script>";
        }
		?>
		<div class="w">
			<!--头部-->
			<div class="top">
				<div class="logo">
					<a href="?"><img src="../../../img/taoshujie.png" /></a>
				</div>
				<form action="?c=saleBook&a=search" method="post" class="search" onsubmit="return checkSearch();">
					<div class="search_div">
						<input type="text" placeholder="出售书籍名称" name="keyword" class="search_a"/>
						<input type="submit" class="search_b" value="搜索"></input>
					</div>
				</form>
			</div>
		</div>
		<!--导航栏-->
		<div class="nav">
			<div class="nav_bar">
				<div class="all_type nav_active">
					全部图书分类<span class="all_type_a"></span>
				</div>
				<div class="nav_r">
					<ul>
						<a href="?"><li>首页</li></a>
						<a href="?c=type_second&a=showAllType_second"><li>分类</li></a>
						<a href="?c=saleBook&a=showAllSale_book" class="nav_active"><li>出售</li></a>
						<a href="?c=inquiry&a=showAllInquiry"><li>求购</li></a>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="search_content">
			<div class="search_title">关键字：<?php echo $keyword; ?></div>
			<div class="search_yes">
				<div class="yes_info">
					<ul>
						<?php foreach($search as $key => $value){ ?>
						<li>
							<div class="info_div">
								<div class="info_img">
									<a href="?c=saleBook&a=detail&id=<?php echo $value['sale_id']; ?> " target="_blank">
										<img src="<?php echo $value['sale_img']; ?>" title="<?php echo $value['sale_name']; ?>" />
									</a>
								</div>
								<div class="info">
									<!--书名-->
									<div class="title">
										<a href="?c=saleBook&a=each&id=<?php echo $value['sale_id']; ?> " target="_blank">
											<?php $value['sale_name']=preg_replace("/($keyword)/i","<b style=\"color:#00a082\">\\1</b>",$value['sale_name']);?>
											<?php echo $value['sale_name']; ?>
										</a>
									</div>
									<!--具体信息-->
									<div class="more">
										<?php echo $value['sale_author']; ?>
										<span class="xie">/</span>
										<?php echo $value['sale_publishing']; ?>
										<span class="xie">/</span>
										<?php echo $value['sale_page']; ?>页
										<span class="xie">/</span>
										<?php echo $value['sale_degrees']; ?>
										<span class="xie">/</span>
										<span class="pre_price">￥<?php echo $value['sale_beprice']; ?></span>
										<span class="price">￥<?php echo $value['sale_afprice']; ?></span>
									</div>
									<!--内容详情-->
									<div class="summary">
										<?php $value['sale_content']=preg_replace("/($keyword)/i","<b style=\"color:#00a082\">\\1</b>",$value['sale_content']);?>
										<?php echo $value['sale_content']; ?>
									</div>
									<!--发布者-->
									<div class="owner">
										<span class="username"><?php echo $value['user_realname']; ?></span>
										<span class="dept"><?php echo $value['dept_name']; ?></span>
										<span class="class"><?php echo $value['class_name']; ?>(<?php echo $value['grade']; ?>级)</span>
									</div>
								</div>
								<!--收藏购买按钮-->
								<div class="operation" id="o">
									<a href="?c=shopcar&a=addShopCar&id=<?php echo $value['sale_id']; ?>"><div class="collect">加入购物车</div></a>
									<a href="?c=shoporder&a=showAddShopOrder&id=<?php echo $value['sale_id']; ?>"><div class="buy">购买</div></a>
								</div>
							</div>
						</li>
						<?php } ?>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="page">
			<?php
			echo $page_banner;
			?>
		</div>
		
		<iframe src="../Application/front/Views/common_foot.html" width="100%" height="122" frameborder="0"></iframe>
		
	</body>
	<script type="text/javascript" src="js/front/common_top.js" ></script>
</html>
