<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街：我的购物车</title>
		<link rel="shortcut icon" href="img/shu.ico" />
		<link rel="stylesheet" href="css/front/common_top.css" />
		<link rel="stylesheet" href="css/front/shopCar.css" />
		<link rel="stylesheet" href="../../../font/css/font-awesome.min.css" />
	</head>
	<body>
		
		<div class="q" id="q">
			<div class="top_content">
				<div class="welcome_txt">
					你好，欢迎来到淘书街！
				</div>
				<div class="right">
					请 <a href='?c=user&a=login' target="_blank">登录</a> 
					<a href='?c=user&a=reg' style='color: #00CFBE; padding-left: 4px;' target="_blank">免费注册</a>
					<span class='shu'>|</span>
					<a href='?c=shopcar&a=showShopCar' target="_blank">购物车</a> <span class='shu'>|</span>
					<a href='?c=saleBook&a=addSale' target="_blank">我要出售</a> <span class='shu'>|</span>
					<a href='?c=inquiry&a=addInquiry' target="_blank">我要求购</a> <span class='shu'>|</span>
					<a href='?p=back&c=admin&a=login' target="_blank">进入后台</a>
				</div>
			</div>
		</div>
		<div class="q" id="q1">
			<div class="top_content">
				<div class="welcome_txt">
					你好，欢迎来到淘书街！
				</div>
				<div class="right">
					<a href="?c=user&a=showPersonal&id=<?php echo $_SESSION['userid']; ?>"><?php echo $_SESSION['username']; ?></a> <span class='shu'>|</span>
					<a href='?c=shopcar&a=showShopCar'>购物车</a> <span class='shu'>|</span>
					<a href='?c=saleBook&a=addSale' target="_blank">我要出售</a> <span class='shu'>|</span>
					<a href='?c=inquiry&a=addInquiry' target="_blank">我要求购</a> <span class='shu'>|</span>
					<a href='?p=back&c=admin&a=login' target="_blank">进入后台</a>
				</div>
			</div>
		</div>
		<?php
		if(!isset($_SESSION['username']) || $_SESSION['username']==''){  
			echo "<script type='text/javascript'>
					document.getElementById('q').style.display = 'block';
					document.getElementById('q1').style.display = 'none';
				</script>";
        }
        else{
      	    echo "<script type='text/javascript'>
      	    		document.getElementById('q1').style.display = 'block';
      	    		document.getElementById('q').style.display = 'none';
      	    	</script>";
        }
		?>
		<div class="w">
			<!--头部-->
			<div class="top">
				<div class="logo">
					<a href="?"><img src="../../../img/taoshujie.png" /></a>
				</div>
				<form action="?c=saleBook&a=search" method="post" class="search" onsubmit="return checkSearch();">
					<div class="search_div">
						<input type="text" placeholder="出售书籍名称" name="keyword" class="search_a"/>
						<input type="submit" class="search_b" value="搜索"></input>
					</div>
				</form>
			</div>
		</div>
		<!--导航栏-->
		<div class="nav">
			<div class="nav_bar">
				<div class="all_type nav_active">
					全部图书分类<span class="all_type_a"></span>
				</div>
				<div class="nav_r">
					<ul>
						<a href="?"><li>首页</li></a>
						<a href="?c=type_second&a=showAllType_second"><li>分类</li></a>
						<a href="?c=saleBook&a=showAllSale_book"><li>出售</li></a>
						<a href="?c=inquiry&a=showAllInquiry"><li>求购</li></a>
					</ul>
				</div>
			</div>
		</div>
		
		<!--购物车-->
		<div class="shopcar">
			<div class="shopcar_title">我的购物车</div>
			<div class="shopcar_body">
				<form name="myform" action="?c=shopcar&a=delChecked" method="post">
				<table cellspacing="0">
					<thead>
						<th class="col1"><input type="checkbox" name="fullChoose" onclick="fullChecked(this)"></th>
						<th class="col2">书名</th>
						<th class="col3">卖家</th>
						<th class="col4">原价</th>
						<th class="col5">售价</th>
						<th class="col6">库存量</th>
						<th class="col7">购买数量</th>
						<th class="col8">小计</th>
						<th class="col9">操作</th>
					</thead>
					<tbody>
						<?php foreach($shopCarLists as $key => $value){ ?>
						<tr>
							<td class="col1"><input type="checkbox" name="ids[]" class="eachChoose" value="<?php echo $value['id'];?>" onclick="eachChecked();"></td>
							<td class="col2" id="td2">
								<a href="?c=saleBook&a=each&id=<?php echo $value['sale_id'];?>"><img src="<?php echo $value['sale_img'];?>" /></a>
								<a href="?c=saleBook&a=each&id=<?php echo $value['sale_id'];?>" class="sale_name"><?php echo $value['sale_name']; ?></a>
							</td>
							<td class="col3">
								<a href="?c=user&a=showSaleUser&id=<?php echo $value['user_id']; ?>" target="_blank">
									<?php if($value['user_realname'] == null){echo $value['user_name'];} else{echo $value['user_realname'];} ?>
								</a>
							</td>
							<td class="col4">￥<?php echo $value['sale_beprice'];?></td>
							<td class="col5">￥<span><?php echo $value['sale_afprice'];?></span></td>
							<td class="col6"><?php echo $value['sale_num'];?></td>
							<td class="col7">
								<a href="?c=shopcar&a=subNum&id=<?php echo $value['id'];?>" class="op" onclick="return sub(this)">-</a>
								<span><?php echo $value['book_num'];?></span>
								<a href="?c=shopcar&a=addNum&id=<?php echo $value['id'];?>" class="op" onclick="return add(this)">+</a>
							</td>
							<td class="col8">￥<span><?php echo $value['sale_afprice']*$value['book_num'];?></span></td>
							<td class="col9"><a href="?c=shopcar&a=delete&id=<?php echo $value['id'];?>" class="del" onclick='return queren();'>
								<i class="fa fa-trash"></i>
							</a></td>
						</tr>
						<?php } ?>
					</tbody>
				</table>
				<div class="count">
				 	<input type="submit" name="Submit" class="deleteChecked" value="删除选中" id="delBtn" disabled="disabled" onclick='return queren();'></input>
				 	<span class="countnum">已选书籍 <span class="num">0</span> 本</span>
				 	<span class="countmoney">合计(不含运费) : <span class="money">￥0</span> </span>
				 	<input type="submit" name="Submit" id="sumBtn" class="sum" value="结 算" disabled="disabled"></input>
				</div>
				</form>
			</div>
		</div>
		
		<iframe src="../Application/front/Views/common_foot.html" width="100%" height="122" frameborder="0"></iframe>
		
	</body>
	<script type="text/javascript" src="js/front/shopCar.js" ></script>
	<script type="text/javascript" src="js/front/common_top.js" ></script>
</html>

<script type="text/javascript">
	function queren(){
		return window.confirm("你确认要删除吗？");
	}
	function sub(obj){
		var span = obj.nextElementSibling; // 获取-按钮下一个兄弟
		var oldNum = parseInt(span.innerHTML); // 旧数据
	  	if(oldNum == 1){
	  		return window.confirm("你确认要删除吗？");
	  	}
	}
	function add(obj){
		var span = obj.previousElementSibling; // 获取+按钮上一个兄弟
		var oldNum = parseInt(span.innerHTML); // 旧数据
		var col6 = obj.parentElement.previousElementSibling.innerHTML;
		if( oldNum >= col6 ){
			alert("库存量不足！");
			return false;
		}
		return true;
	}
</script>
